<h1><%= @menu_item.name %></h1>
<%= @menu_item.description %><BR/>
<% if @menu_item.menu_choices.length > 0 %>
	<%= @menu_item.menu_choices[0].prices_max %>
	<%= @menu_item.menu_choices[0].prices_min %>
<% end %>
<BR/>
<% for i in 0..@reviews.length-1 %>
<div>
	<% review = @reviews[i] %>
	<img src="<%= review['user_image_url']%>"><%= review['user_name'] %>
	<%= review['source'] %>
	<BR/>
	<%= review['text'] %>
	<%= Time.at(review['date_created']).strftime("%m/%d/%Y") %>

</div>
<% end %>
