<h1> Search Result: </h1>
<% unless @search_output.nil? %>
	<% @search_output.each_with_index do |venue, i| %>
		<%= i + 1 %>=================
		<BR/>
		<%= link_to venue['name'], restaurant_path(venue)%>
		<BR/>
		SP_ID: <%= venue['sp_id']%>
		<BR/>
		Has Menu: <%= venue['has_menu'] %>
		<BR/>
		<%= venue['address1'] %>
		<BR/>
		<%= venue['city'] %>
		<%= venue['state'] %>
		<%= venue['postalCode'] %>
		<BR/>
		<%= venue['country'] %>
		<BR/>
	<% end %>
<% end %>
